# specific source code versioning stuff
version.py
.git-version
doc/userguide/version.txt
doc/.git-version
src/TATi/exploration/get_executables.py
src/TATi/__init__.py

# python and pycharm stuff
__pycache__
.idea

# autotools stuff
Makefile.in

ChangeLog
configure
INSTALL
aclocal.m4
autom4te.cache/
build-aux/
testsuite

