# specific source code versioning stuff
version.py
.git-version


# python and pycharm stuff
__pycache__
.idea

# autotools stuff
Makefile.in

ChangeLog
configure
INSTALL
NEWS
aclocal.m4
autom4te.cache/
build-aux/
tests/regression/testsuite

